/*

CSS: element, id, class


selector{

   property:value;


}

*/


body{

   background-color: white

}



h1{

   text-decoration:none
   color: #4f3339;
   

}


#header{

   text-align:center;

}
