/*
CSS: element, id, class
selector{
   property:value;
}
*/

body {
  background-color: white
}

h1 {
  color: #4f3339;
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  line-height: 30%;
  margin-left: 12px;
}

h2 {
  color: #4f3333;
  font-family: 'Montserrat', sans-serif;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 350px;
  margin-left: 15px;
}

h3 {
  color: #4f3333;
  font-family: 'Lato', sans-serif;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 350px;
  margin-left: 15px;
}

p {
  color: black;
  font-family: "Lato", sans-serif;
  margin-top: 25px;
  margin-bottom: 15px;
  padding-right: 300px;
  margin-left: 15px;
}

p2 {
  text-align: center;
  padding: 10px;

  }

p3 {
  text-align: center;
  padding: 10px;
}

p4 {
  text-align: center;
  padding: 10px;
}

#description {
  display: inline;
}

#picture > img {
  display: inline;
  float: right;
  margin: 10px 10px 10px 10px;
}

#header {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #4f3339;
  color: #e3d0c3;
  font-family: 'Lato', sans-serif;
}

li {
  display: inline;
}

li a {
  color: #e3d0c3;
  padding: .2em 1em;
  text-decoration: none;
  transition: .5s ease;
}

li a:hover {
  background-color: #ffffff;
  color: #4f3339;
  transition: 1s ease;
}
